######## GENERAL IGNORES #######

# ignore logs, OS cache files
*.log
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

######## GENERAL .NET IGNORES ########

# Ignore binaries in the source
src/*/bin
src/*/obj
src/*/v6obj

# Ignore user-scoped solution and project settings
*.user
*.suo

# NuGet packages
packages/*
!packages/repositories.config
Build/*.nupkg

src/Rainbow.*.Tests/license.xml
/lib/Sitecore/v7/Telerik.Web.UI.xml
/lib/Sitecore/v7/Telerik.Web.UI.Skins.dll
/lib/Sitecore/v7/Telerik.Web.UI.dll
/lib/Sitecore/v7/Stimulsoft.Report.WebDesign.dll
/lib/Sitecore/v7/Stimulsoft.Report.Web.dll
/lib/Sitecore/v7/Stimulsoft.Report.dll
/lib/Sitecore/v7/Stimulsoft.Database.dll
/lib/Sitecore/v7/Stimulsoft.Base.dll
/lib/Sitecore/v7/Sitecore.Zip.dll
/lib/Sitecore/v7/Sitecore.Update.dll
/lib/Sitecore/v7/Sitecore.Shell.MarketingAutomation.dll
/lib/Sitecore/v7/Sitecore.SegmentBuilder.dll
/lib/Sitecore/v7/Sitecore.Security.AntiCsrf.dll
/lib/Sitecore/v7/Sitecore.Publishing.WebDeploy.dll
/lib/Sitecore/v7/Sitecore.Oracle.dll
/lib/Sitecore/v7/Sitecore.NVelocity.dll
/lib/Sitecore/v7/sitecore.nexus.dll
/lib/Sitecore/v7/Sitecore.Logging.dll
/lib/Sitecore/v7/Sitecore.Kernel.xml
/lib/Sitecore/v7/Sitecore.Kernel.dll
/lib/Sitecore/v7/Sitecore.Client.XML
/lib/Sitecore/v7/Sitecore.Client.dll
/lib/Sitecore/v7/Sitecore.Automation.MarketingAutomation.dll
/lib/Sitecore/v7/Sitecore.Apps.Loader.dll
/lib/Sitecore/v7/Sitecore.Analytics.dll
/lib/Sitecore/v7/RadEditor.Net2.dll
/lib/Sitecore/v7/Newtonsoft.Json.dll
/lib/Sitecore/v7/Mvp.Xml.dll
/lib/Sitecore/v7/Lucene.Net.dll
/lib/Sitecore/v7/ITHit.WebDAV.Server.dll
/lib/Sitecore/v7/HtmlAgilityPack.dll
/lib/Sitecore/v7/ComponentArt.Web.UI.dll
/lib/Sitecore/v7/ComponentArt.UIFramework.lic
/lib/Sitecore/v7
